body {
    /* background: chocolate url("images/loginBG.png") no-repeat; */
    height: 10%;
}

h1 {
    color: bisque
}

label {
    color: white;
}

a {
    color: white;
}

li {
    color: white;
}